<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.nineworldsdeep.droidmuse"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
    
        
    	<activity android:name="com.nineworldsdeep.droidmuse.MainTabWidget" android:label="@string/app_name"
    			  android:theme="@android:style/Theme.NoTitleBar">
    		<intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        	</intent-filter>
        </activity>
        <activity android:name="com.nineworldsdeep.droidmuse.ClefActivity" /> 
        <activity android:name="com.nineworldsdeep.droidmuse.guitar.GuitarActivity" />
		<activity android:name="com.nineworldsdeep.droidmuse.keys.KeyboardActivity" />
		

    </application>
    <uses-sdk android:minSdkVersion="8" />
	
</manifest> 